body {
  background-color: #b3cde0;
  font-family: 'Lato', sans-serif;
  color: white;
}

main {
  width: 100%;
}

 .container-box {
   min-width: 320px;
   max-width: 400px;
   width: 45%;
   height: 450px;
   margin:  20% auto;
   border-radius: 8px;
   background-color: #03396c;
   text-align: center;
 }

h1 {
  font-size: 1.75em;
  padding: 30px;
}

input {
  display: block;
  margin: 15px auto;
  width: 70%;
  padding: 10px;
  background-color: #005b96;
  border: none;
  font-size: 1.05em;
  border-radius: 10px;
}

.input-check input {
  height: 15px;
  width: 15px;
  display: inline-block;
}

label {
  font-size: 1.1em;
}

.signup-button {
  margin-top: 25px;
  color: white;
  border: none;
}

.signup-button:hover {
  background-color: #011f4b;
}

.signup-button:active {
  background-color: #6497b1;
}
