body {
  background-color: #009999;
}

.calculator_container {
  height: 100%;
  width: 310px;
  margin: 10% auto;
  background-color: #333333;
  border-radius: 20px;
  padding: 20px;
}

.output {
  font-family: 'Orbitron', sans-serif;
  background-color: #CCCCCC;
  height: 35px;
  width: 270px;
	text-align: right;
  margin: 0 auto 10px auto;
	border-radius: 5px;
	font-size: 1.5em;
	border: none;
}

.button_container {
  font-family: 'Lato', sans-serif;
  color: white;
}

.calc_button {
  background-color: #CCCCCC;
	color: black;
	height: 55px;
	width: 55px;
	margin: 5px;
	font-size: 1.5em;
}

.clear_buttons {
	width: 89px;
}

.zero {
	width: 124px;
}
