body {
  font-family: 'Roboto', sans-serif;
  background-color: #F7FFFF;
  color: #0B0664;
}

main {
  border-top: 3px solid #79C6FE;
  border-bottom: 3px solid #79C6FE;;
  max-width: 1024px;
  width: 80%;
  height: 400px;
  margin: 10% auto 0 auto;
  padding: 20px;
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

h4 {
  margin: 25px;
}

.text-intro {
  width: 70%;
  margin: 5% auto;
  text-align: center;
}

.more-info {
  margin: 10% auto;
}

input {
  display: block;
  margin: 10px auto;
}

#email {
  border: none;
  border-bottom: 1px solid #79C6FE;
  background-color: #F7FFFF;
  width: 300px;
  font-size: 1.2em;
  padding: 5px;
}

#sign-up {
  margin-top: 20px;
  font-size: 1.3em;
  background-color: #F7FFFF;
  padding: 10px;
  border: 1px solid #79C6FE;
  transition: all 0.1s ease-in-out;
}

#sign-up:hover {
  color: white;
  background-color: #79C6FE;
}

#sign-up:active {
  background-color: #60A2D1;
}
