body {
  font-family: 'Roboto', sans-serif;
}

main {
  position: relative;
  border-bottom: 3px solid #626782;
  max-width: 1024px;
  width: 80%;
  height: 400px;
  margin: 20% auto 0 auto;
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

h4 {
  margin: 25px;
}

.text-intro {
  width: 70%;
  margin: 10% auto;
  text-align: center;
}

.more-info {
  margin: 15% auto;
}

input {
  display: block;
  margin: 10px auto;
}

#email {
  border: none;
  border-bottom: 1px solid black;
  width: 300px;
  font-size: 1.2em;
}

#sign-up {
  margin-top: 20px;
  font-size: 1.3em;
}
